<table class="w-full">

    <thead>

        <tr class="bg-gray-50">

            <th class="p-3 text-left">
                Producto
            </th>

            <th class="p-3">
                Categoría
            </th>

            <th class="p-3">
                Medida
            </th>

            <th class="p-3">
                Precio
            </th>

            <th class="p-3">
                Stock
            </th>

            <th class="p-3">
            </th>

        </tr>

    </thead>

    <tbody>

        {% for product in products %}

        <tr class="border-b">

            <td class="p-3">

                <div class="font-semibold">
                    {{ product.name }}
                </div>

                <div class="text-xs text-gray-500">
                    {{ product.code }}
                </div>

            </td>

            <td class="p-3">
                {{ product.category }}
            </td>

            <td class="p-3">
                {{ product.size }}
            </td>

            <td class="p-3">
                ${{ product.price }}
            </td>

            <td class="p-3">
                {{ product.stock }}
            </td>

            <td class="p-3">

                <button
                    onclick="selectCatalogProduct({{ product.id }})"
                    class="bg-purple-600 text-white px-3 py-2 rounded-lg"
                >
                    Seleccionar
                </button>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>